var formatTime = function formatTime(milliseconds) {
  var date = getDate(milliseconds * 1000)
  // var year = date.getFullYear()
  // var month = date.getMonth() + 1
  // var day = date.getDate()

  // var hour = date.getHours()
  // var minute = date.getMinutes()
  // var second = date.getSeconds()

  return date.toLocaleString()
}
module.exports = {
  formatTime: formatTime
};